body {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    font-style: italic;
    margin-left: 20px;
    margin-right: 20px;
  background-image: url("img/5_background/first_half_background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: rgb(0, 0, 0);
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.settingsBox {
    font-size: 30px;
    display: flex;
    gap: 60px; 
}

.settingsBoxheadline {
    font-weight: bold;
}

.leftSide, .rightSide {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

