body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(247 191 99);
  overflow: hidden;
}

h1 {
  text-align: center;
}

.ibm-plex-mono-semibold-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: italic;
}

canvas {
  background-color: black;
  display: block;
}

.keyboard-layout {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  font-size: 20px;
  gap: 30px;
}

.keyboard-layout-big {
  font-weight: bold;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: italic;
}

.fullscreen-icon:hover {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.startScreen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.startScreen img {
  width: 100%;
  height: 100%;
  object-fit: initial;
}

nav {
display: flex;
justify-content: center;
align-items: center;
gap: 100px;
position: absolute;
bottom: 0px;
width: 100%;
}

button {
  margin-bottom: 40px;
  font-size: 30px;
  padding: 10px 20px;
  border: 3px solid black;
  background-color:rgb(115 150 36);
  border-radius: 20px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: italic;
  color: white;
}

button:hover {
  opacity: 0.7;
  cursor: pointer;

}

.displayNone {
  display: none!important;
}

button a {
  text-decoration: none;
  color: white;
}

.homeButton {
  text-decoration: none;
  color: black;
}

.homeButton:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media only screen and (max-width: 720px){
  canvas {
    width: 100%;
  }
}

@media only screen and (max-height: 480px) {
  canvas {
    height: 100vh;
  }
}

.outroScreen {
  height: 100%;
  width: 100%;
  background-image: url(img/9_intro_outro_screens/win/win_2.png);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 999;
  background-size: contain;
  position: absolute;
}

.backgroundOutro {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(199, 154, 42);
  border-radius: 20px;
  z-index: 999;
  position: fixed;
}

#toggleImage {
  height: 30px;
  width: 30px;
  margin-left: 30px;
}

.navbarUnderGame {
  display: flex;
  align-items: center;
  gap: 30px;
}

#overlayPortrait {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(199, 154, 42);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  text-align: center;
  overflow: hidden;
  z-index: 9999;
}

#overlayPortrait img {
  height: 100px;
  width: 100px;
}

.bottleButton {
  height: 30px;
  width: 30px;
}

#ButtonsUnderGame {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonLeft, .buttonRight {
  width: 120px;
  display: flex;
  justify-content: space-between;
}

img {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard */
  -webkit-touch-callout: none; /* iOS Safari */
}

button {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard */
  -webkit-touch-callout: none; /* iOS Safari */
}

#containerCanvasMobile {
  height: 100vh;
}

.position {
  position: absolute;
  bottom: -35px;
  left: 20px;
  right: 20px;
}

#leftButton,
#rightButton,
#upButton,
#actionButton {
  width: 45px;
  height: 45px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonMiddle {
  font-size: 20px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

#overlayControl {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden; /* Initially hidden */
  transform: translateX(100%); /* Start off-screen */
  transition: visibility 0.3s ease-out;
}

#overlayControl.show {
  visibility: visible;
  animation: slideIn 0.5s forwards;
}

#overlayControl.hide {
  animation: slideOut 0.5s forwards;
  visibility: hidden;
}

.settingsBox {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: rgb(174 211 226);
  height: 400px;
  width: 700px; 
  border-radius: 20px;
  font-size: 30px;
}

.leftSide, .rightSide {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.textSettings {
  display: flex;
  gap: 50px;
  width: 100%;
  justify-content: center;
  margin-bottom: 120px;
}

.imgSettings {
  height: 40px;
  width: 40px;
}

.imgSettings:hover {
  opacity: 0.5;
  cursor: pointer;
}

.imgPosition {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  padding-right: 10px;
}





@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}


@media (max-width:720px) {
  .keyboard-layout {
    display: none;
  }

  h1 {
    display: none;
  }

  canvas {
    width: 100%;
  }
}