body {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-image: url('img/background-dessert.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: rgb(247 191 99);
}

h1 {
  text-align: center;
}

.ibm-plex-mono-semibold-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: italic;
}

canvas {
  background-color: black;
  display: block;
}

.keyboard-layout {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  font-size: 20px;
  gap: 30px;
}

.keyboard-layout-big {
  font-weight: bold;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: italic;
}

.fullscreen-icon:hover {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.startScreen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.startScreen img {
  width: 100%;
  height: 100%;
  object-fit: initial;
}

nav {
display: flex;
justify-content: center;
align-items: center;
gap: 100px;
position: absolute;
bottom: 0px;
width: 100%;
}

button {
  margin-bottom: 40px;
  font-size: 30px;
  padding: 10px 20px;
  border: 3px solid black;
  background-color:rgb(115 150 36);
  border-radius: 20px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: italic;
  color: white;
}

button:hover {
  opacity: 0.7;
  cursor: pointer;

}

.displayNone {
  display: none!important;
}

button a {
  text-decoration: none;
  color: white;
}

.homeButton {
  text-decoration: none;
  color: black;
}

.homeButton:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media only screen and (max-width: 720px){
  canvas {
    width: 100%;
  }
}

@media only screen and (max-height: 480px) {
  canvas {
    height: 100vh;
  }
}

.outroScreen {
  height: 100%;
  width: 100%;
  background-image: url(img/9_intro_outro_screens/win/win_2.png);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 999;
  background-size: contain;
  position: absolute;
}

.backgroundOutro {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(199, 154, 42);
  border-radius: 20px;
  z-index: 999;
  position: fixed;
}

#toggleImage {
  height: 30px;
  width: 30px;
  margin-left: 30px;
}

.navbarUnderGame {
  display: flex;
  align-items: center;
  gap: 30px;
}

#overlayPortrait {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(199, 154, 42);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  text-align: center;
  overflow: hidden;
  z-index: 9999; /* Sicherstellen, dass das Overlay über allen anderen Elementen liegt */
}

#overlayPortrait img {
  height: 100px;
  width: 100px;
}